<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel='stylesheet' href='/style/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      some header contents
    </header>
    <section>
      <div class="container clearfix">
        {{{body}}}
      </div>
    </section>
    <footer>
      some footer contents
    </footer>
    <div id="feedback" class="cloaked"></div>
    <script type="text/javascript" src="script/jquery.feedback.js"></script>
    <script>
      $(document).ready(function() {
        $(".frame").feedback({
          form: '#feedback'
        });
      });
    </script>
  </body>
</html>
