<div class="flexible">
  <form action="/login" method="POST" class="centered">
    <fieldset>
      <label for="userField">User ID</label>
      <input type="text" id="userField" name="userField" placeholder="codingtest"/>
      <label for="passField">Password</label>
      <input type="password" id="passField" name="passField" placeholder="password09876"/>
      <input class="button-primary" type="submit" value="Login">
    </fieldset>
  </form>
</div>