<p>&nbsp;</p>
<h2>Welcome "{{payload.display_name}}"</h2>

<a class="button" href="/logout">Log off</a>

{{> plugin}}

<p>Here is your profile data:</p>
<div class="frame">
  <pre>
    {{ profile }}
  </pre>
</div>
